<nav
  class='topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-dark bg-dark'
  id='sidenavAccordion'
>
  <div class='container'>
    <a class='navbar-brand pe-3 ps-4 ps-lg-2' href='/'>
      <i class='fa-solid fa-code pe-2 text-primary'></i>
      Leitor de DF-e
    </a>
    <ul class='navbar-nav align-items-center ms-auto'>
      <a
        class='btn fw-500 text-primary'
        href='https://github.com/KleversonCruz/dfe-reader-nodejs'
        target='_blank'
      >
        GitHub
        <i class='fa-brands fa-github ps-2'></i>
      </a>
      <a class='btn fw-500 text-primary' href='/api' target='_blank'>
        API
        <i class='fa-solid fa-user-astronaut ps-2'></i>
      </a>
    </ul>
  </div>
</nav>